<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
    <header>
      <div class="header_info_block">
        <div  id="health-record_title"><h2 >HEALTH RECORD</h2></div>
        <div class="header_user_personal_info_block">
          <div class="personal_info_name">
            <p><strong>Jane Smith</strong></p>
          </div>
          <div class="personal_info_dob">
            <p><strong>DOB:</strong> July 26, 2000</p>
          </div>
          <div class="personal_info_gender">
            <p><strong>Gender:</strong>Male <strong>, Race:</strong> White Europen</p>
          </div>
          <div class="personal_info_weight_height">
            <p><strong>Weight:</strong> 118lbs <strong>, Height:</strong> 5’6′′ <strong>, BMI:</strong> 19</p>
          </div>
          <div class="personal_info_region">
            <p><strong>City:</strong> Seattle <strong>, State:</strong> Washington<strong>, Country:</strong> United States</p>
          </div>
        </div>
      </div>
      <div class="header_logo_block">
        <div id="logo_block"><img src="../../../media/logo-color@3x.png" alt=""></div>
      </div>
    </header>
    <content>
      <div id="content_grid">
        <div class="health_record_full_width">
          <h2 class="table_title">1. Conditions</h2>
          <div class="grid_table">
            <div class="conditions_line line_theme table_column_titles_theme">
              <div class=""><p>№</p></div>
              <div class=""><p>Condition Name</p></div>
              <div class=""><p>Period</p></div>
            </div>
            <div class="conditions_line line_theme">
              <div class=""><p>1</p></div>
              <div class=""><p>Some Name 1</p></div>
              <div class=""><p>Some Period 1</p></div>
            </div>
            <div class="conditions_line line_theme even_line">
              <div class=""><p>2</p></div>
              <div class=""><p>Some Name 2</p></div>
              <div class=""><p>Some Period 2</p></div>
            </div>
            <div class="conditions_line line_theme">
              <div class=""><p>3</p></div>
              <div class=""><p>Some Name 3</p></div>
              <div class=""><p>Some Period 3</p></div>
            </div>
          </div>
        </div>
        <div class="health_record_full_width">
          <h2 class="table_title">2. Medications</h2>
          <div class="grid_table">
            <div class="medication_line line_theme table_column_titles_theme">
              <div class=""><p>№</p></div>
              <div class=""><p>Medications Name</p></div>
              <div class=""><p>Period</p></div>
              <div class=""><p>Monthly Cost</p></div>
              <div class=""><p>Dosage</p></div>
              <div class=""><p>Frequency</p></div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">3. Labs</h2>
          <div class="grid_table">
            <div class="labs_line line_theme table_column_titles_theme">
              <div>
                <p>Test Name</p>
              </div>
              <div>
                <p>Level</p>
              </div>
              <div>
                <p>Goal Range</p>
              </div>
              <div>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">4. Blood Sugar</h2>
          <div class="grid_table">
            <div class="blood_sugar_line line_theme table_column_titles_theme">
              <div>
                <p>Test Name</p>
              </div>
              <div>
                <p>Level</p>
              </div>
              <div>
                <p>Goal Range</p>
              </div>
              <div>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">5. Blood Pressure</h2>
          <div class="grid_table">
            <div class="blood_pressure_line line_theme table_column_titles_theme">
              <div>
                <p>№</p>
              </div>
              <div>
                <p>Systolic, mmHg</p>
              </div>
              <div>
                <p>Diastolic, mmHg</p>
              </div>
              <div>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">6. Upcoming doctor visits</h2>
          <div class="grid_table">
            <div class="upcoming_doctor_visits_line line_theme table_column_titles_theme">
              <div>
                <p>№</p>
              </div>
              <div>
                <p>Doctor</p>
              </div>
              <div>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">7. Procedures</h2>
          <div class="grid_table">
            <div class="procedures_line line_theme table_column_titles_theme">
              <div>
                <p>№</p>
              </div>
              <div>
                <p>Procedure</p>
              </div>
              <div>
                <p>Date</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="table_title">8. Additional Info</h2>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nobis quasi veniam incidunt, nihil possimus vero veritatis animi itaque eaque, repudiandae tenetur et earum pariatur ad eos officiis consectetur deleniti.</p>
          </div>
        </div>
      </div>
    </content>
</body>
</html>